.map_section{
    height: 701px;
    position:relative;
    overflow: hidden;
}
#Text8{
    width: 290px;
    height: 45px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;

    margin-top:68px;
    margin-bottom:20px;
}
#Text9{
    width: 395px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    margin-top: 0;
    margin-bottom:48px;
    color: #606367
}
#map{
    width:1278px;
    height:520px;
}
.custom_zoomcontrol{
    position:absolute;
    top:280px;right:10px;
    width:50px;
    height:100px;
    overflow:hidden;
    z-index:1;
    background-color:#f5f5f5;
    border-radius:5px;
}
.custom_zoomcontrol span{
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    cursor:pointer;
}
.custom_zoomcontrol span img{
    width:50px;
    height:50px;
    border:none;
}
.custom_zoomcontrol span:first-child{
    border-bottom:1px solid #bfbfbf;
}
.custom_refresh{
    position:absolute;
    top:440px;
    right:10px;
    width:50px;
    height:50px;
    overflow:hidden;
    z-index:1;
    background-color:#f5f5f5;
    border-radius:5px;
}
.custom_refresh span {
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    cursor:pointer;
}
.custom_refresh span img{
    width:50px;
    height:50px;
    border:none;
}
.custom_expansion{
    position:absolute;
    top:550px;
    right:10px;
    width:50px;
    height:50px;
    overflow:hidden;
    z-index:1;
    background-color:#f5f5f5;
    border-radius:5px;
}
.custom_expansion span{
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    cursor:pointer;
}
.custom_expansion span img{
    width:50px;
    height:50px;
    border:none;
}

