
header{
    width: 1920px;
    height: 900px;
    top: 2px;

    background-color: #F2E9D8;
}
main{
    width: 1920px;
    height: 2658px;
}
footer{
    width: 1920px;
    height: 601px;

    position: relative;
    margin-top: 80px;
}
main div:first-child{
    height: 2658px;
}
.wrap{
    margin-left: 320px;
    margin-right:320px;
}
.Top{
    display: flex;
    justify-content: space-between;
}
.Top ul{
    width: 336px;
    height: 50px;
    padding: 0;
    display: flex;
    margin:0;
    justify-content: space-between;
}
.Top li{
    list-style: none;
}
.Top li:not(:nth-child(4)){
    list-style: none;
    margin-top: 41px;
}
.Top li:last-child{
    margin-top: 26px;
}
.Top a{
    text-decoration: none;
    color: black;
}
.Download_button{
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #D97652;
    color: white;
}
.Top img{
    width: 130px;
    height: 40px;
    margin-top: 31px;
}
.Top_Content {
}
#Box_Cat{
    width: 415px;
    height: 766px;
    margin-top: 62px;

    float: right;
    display: inline;
}
#Text1{
    margin-top: 200px;
    margin-bottom: 40px;
    width: 750px;
    height: 120px;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
}
#Text2{
    width: 440px;
    height: 86px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}
.Top_Content button{
    margin-top: 40px;
}
.Profile{
    height: 590px;
}
#Cat_on_bed{
    width: 660px;
    height: 390px;
    border-radius: 30px;

    margin-top: 80px;
    float: left;
}
#Text3{
    width: 510px;
    height: 135px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;

    margin-left: 70px;
    margin-top: 172px;
    margin-bottom: 0;
    float: right;
}
#Text4{
    width: 510px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin-left: 70px;
    margin-top: 30px;
    float: right;
}
.Many_Image{
    width: 1400px;
    height: 1346px;
}
#Text5{
    width: 1000px;
    height: 60px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;

    margin-top: 0;
    margin-left: 203px;
    margin-bottom:0;

}
#Text6{
    width: 800px;
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin-left: 285px;
    margin-top: 40px;
    text-align: center;

}
.Scroll_Area{
    overflow: auto;
    height: 990px;
}
.Many_Image div ul{
    display: flex;
    padding: 0;
}
.Many_Image div ul:first-child{
    margin-top: 68px;
    margin-bottom: 0;
}
.Many_Image div ul:nth-child(2){
    margin-top: 0;
}
.Many_Image div li{
    list-style: none;
}
#Text7{
    width: 320px;
    height: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

    margin-left:495px;
    margin-top: 50px;
}
.Many_Image button{
    width: 143px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;

    margin-left: 597.5px;
    border: none;
    background-color: #D97652;
    color: white;
}
hr{
    width: 1278px;
    height: 1px;
    top: 2916px;
    left: 320px;
    border: 0;

    margin-top: 80px;
    background-color: #C4C4C4;
    opacity: 0.4;
}
.map_section{
    height: 701px;
}
#Text8{
    width: 290px;
    height: 45px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;

    margin-top:68px;
    margin-bottom:20px;
}
#Text9{
    width: 395px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    margin-top: 0;
    margin-bottom:48px;
    color: #606367
}
#map{
    width:1278px;
    height:520px;
}
.Subscribe_section{
    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background-color: #263140;
    position: absolute;
    z-index: 2;
}
#Text10{
    width: 470px;
    height: 45px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;

    margin-left: 58px;
    margin-top: 50px;
    margin-bottom: 11px;
    color: white;
    float: left;
}
#Text11{
    width: 500px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

    margin-left: 58px;
    color: white;
}
label{
    width: 530px;
    height: 60px;
    border-radius: 60px;
    background-color: white;
    float: right;

    margin-top: 69px;
    margin-right: 58px;
    display: flex;
    flex-direction: row;
}
#mail_image{
    width: 24px;
    height: 24px;

    margin-top:  18px;
    margin-left: 20px;
}
#input_mail{
    margin-left: 12px;
    border: none;
}
#subscribe_button{
    width: 135px;
    height: 50px;
    border-radius: 40px;
    border: none;

    margin-top: 5px;
    margin-left: 158px;
    background-color: #D97652;
    color: white;
}
#background_cat{
    width: 1920px;
    height: 340px;
    position: absolute;
    top: 101px;
    z-index: 0;
}
#scroll_top_button{
    width: 50px;
    height: 50px;

    position: fixed;
    margin-top: 620px;
    margin-left: 1846px;
    top: 371px;
    border: none;
    background-color: transparent;
}
#bottom{
    width: 1280px;
    height: 160px;

    position: absolute;
    top: 486px;
    display: flex;
    justify-content: space-between;
}
#bottom_logo{
    width: 226px;
    height: 70px;
}
nav{
    width: 228px;
    height: 42px;

    display: flex;
    justify-content: space-between;
}
nav a{
    width: 42px;
    height: 42px;
}
.modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    position: fixed;
    z-index: 49;
    background-color: #D97652;
    opacity: 0.97;
    text-align: center;
}
.modal_container{
    background-image: url("modal_background.png");
    border-radius: 30px;
    width: 600px;
    height: 400px;
    margin-top: 20%;
    margin-left: 30%;
    z-index: 50;
}
#modal_cat{
    width: 110px;
    height: 112px;
    margin-top: 60px;
}
.modal_container p:nth-child(2){
    width: 212px;
    height: 46px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #D97652;

    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 194px;
}
#change_text{
    width: 400px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    margin-top:12px;
    margin-left:108px;
    margin-bottom:0;
}
#subscribe_close_button{
    width: 183px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #D97652;

    color: white;
    margin-top: 38px;
}
.resized-image {
    width: 450px;
    height: 400px;
}